# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart

# Firebase — không commit key bí mật
# lib/firebase_options.dart
# android/app/google-services.json

# IDE
.idea/
.vscode/
*.iml
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.keystore
key.properties
